.SpecialOffers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;
}

.SpecialOffers h1{
    margin-bottom: 30px;
    font-size: 3rem;
    background: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.SpecialOffers .SpecialOffersContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 30px 0;
    border: 3px solid transparent;
    background: linear-gradient(var(--item-bg), var(--item-bg)) padding-box,
    linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) border-box;
    transition: all 0.3s ease-in-out;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark{
    box-shadow: 0 4px 12px #ffffff61
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark:hover{
    box-shadow: 0 4px 18px #ffffff61
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light{
    box-shadow: 0 4px 20px #00000061
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light:hover{
    box-shadow: 0 4px 30px #00000061
}


.SpecialOffers .SpecialOffersContent .SpecialOffersItem:hover{
    transform: scale(1.05);
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem h5{
    font-size: 1.5rem;
    background: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark img{
    width: 300px;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light img{
    width: 300px;
    height: 200px;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem ul{
    margin: 20px;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem ul li{
    font-weight: 800;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark ul li{
    text-decoration: underline #AA771C;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light ul li{
    text-decoration: underline #ffc400;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem button{
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem button:hover{ 
    transform: scale(1.05);
}


.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light button{
    border: 3px solid transparent;
    background: linear-gradient(var(--item-bg), var(--item-bg)) padding-box,
    linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) border-box;
    color: #BF953F;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark button{
    border: 2px solid transparent;
    background: linear-gradient(var(--item-bg), var(--item-bg)) padding-box,
    linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) border-box;
    color: #BF953F;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark button:hover{
    color: unset;
    font-weight: 900;
    border-color: #fff;
    background: 
    linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    box-shadow: 0 4px 12px #ffffff61;
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light button:hover{
    color: unset;
    font-weight: 900;
    border-color:#000 ;
    background: 
    linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    box-shadow: 0 4px 12px #00000061;
}

@media (max-width: 958px) {
.SpecialOffers h1{
    font-size: 2.4rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark img{
    width: 260px;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark h5{
    font-size: 1.6rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark ul li{
    font-size: 1rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark button{
    padding: 10px 20px;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark button:hover{
    transform: scale(1.01);
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light img{
    width: 260px;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light h5{
    font-size: 1.6rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light ul li{
    font-size: 1rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light button{
    padding: 10px 20px;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light button:hover{
    transform: scale(1.01);
}
}

@media (max-width: 558px) {
.SpecialOffers h1{
    font-size: 2rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark img{
    width: 200px;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark h5{
    font-size: 1.5rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark ul li{
    font-size: 0.8rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark button{
    padding: 5px 10px;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.dark button:hover{
    transform: scale(1.02);
}

.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light img{
    width: 200px;
    height: 150px;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light h5{
    font-weight: 900;
    font-size: 1.5rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light ul li{
    font-size: 0.8rem;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light button{
    padding: 5px 10px;
}
.SpecialOffers .SpecialOffersContent .SpecialOffersItem.light button:hover{
    transform: scale(1.02);
}
}